<%- include('partials/header.ejs') %>

<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="postTitle"><strong>Title:</strong> </label>
        <input type="text" name="postTitle" id="postTitle" class="form-control">
    </div>
    <div class="form-group">
        <label for="postContent"><strong>Post:</strong> </label>
        <textarea type="text" name="postContent" class="form-control" rows="5" cols="30"></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); %>