.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgba(248, 245, 245, 0.808);

    li {
        display: inline-block;
        padding: 8px;

        a {
            color: $navbar-content;
        }
    }

    li a:hover {
        color : $navbar-hover !important;
    }
}